* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
p {
  font-size: 16px;
}
.title {
  font-size: 32px;
}
.pageBox {
  width: 100%;
  height: 100%;
}
.borderBox,
.mainBox {
  width: 100%;
  height: 100%;
  background-color: rgba(115, 162, 163, 0.377);
  border-radius: 24px;
  padding: 18px;
}
.mainBox {
  background-color: rgba(156, 159, 190, 0.377);
  position: relative;
  .title {
    font-size: 1.4vw;
    font-weight: bold;
  }
}
.poi-lef {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: rgb(255, 251, 0);
  font-size: 2vw;
  cursor: pointer;
}
.tokenBox {
  position: absolute;
  left: 5vw;
  background-color: #251b61;
  color: rgba(127, 255, 212, 0.715);
  padding: 8px;
  border-radius: 8px;
  bottom: 20px;
}
.poi-rig {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.poi-mid {
  position: absolute;
  right: 120px;
  bottom: 20px;
}
.poi-topRig {
  position: absolute;
  right: 20px;
  top: 20px;
}
.modal {
  display: flex;
  flex-wrap: nowrap;
  height: 35vh;
  .modalLef {
    width: 40%;
    img {
      height: 100%;
      width: 80%;
    }
  }
  .modalRig {
    width: 60%;
    overflow: auto;
    img {
      width: 80%;
    }
    h1 {
      font-size: 1.5vw;
      text-indent: 2em;
    }
    p {
      line-height: 2vw;
      text-indent: 2em;
    }
  }
  .modalRig::-webkit-scrollbar {
    width: 8px; /* 设置滚动条的宽度 */
  }

  .modalRig::-webkit-scrollbar-thumb {
    background-color: #888; /* 设置滚动条的颜色 */
    border-radius: 4px; /* 设置滚动条的圆角 */
  }

  .modalRig::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* 设置滚动条轨道的颜色 */
    border-radius: 4px; /* 设置滚动条轨道的圆角 */
  }
}

/* 自定义滚动条样式 */
.myScroll {
  overflow: auto;
}
.myScroll::-webkit-scrollbar {
  width: 8px; /* 设置滚动条的宽度 */
}

.myScroll::-webkit-scrollbar-thumb {
  background-color: #888; /* 设置滚动条的颜色 */
  border-radius: 4px; /* 设置滚动条的圆角 */
}

.myScroll::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* 设置滚动条轨道的颜色 */
  border-radius: 4px; /* 设置滚动条轨道的圆角 */
}
